<div id="hhd">
	<ul id="topnav">
		<li>
			<%= link_to "Login", "/accounts/login", :class => "login"%> or <%= link_to "Join", join_path, :class => "login" %>
		</li>
	</ul>
</div><!-- /hhd -->
<div id="hd">
	<h1>
		<%= link_to "FaceofNYC", root_path %>
	</h1>
	<ul id="nav">
		<li class="exhibit">
			<%= link_to "Exhibit", exhibit_path %>
		</li>
		<li class="charities">
			<%= link_to "Charities", charities_path %>
		</li>
		<li class="about">
			<%= link_to "About", about_path %>
		</li>
	</ul>
</div><!-- /hd -->